@import "tailwindcss";
/* Shine text */
.shine {
    background: linear-gradient(90deg, #ffffff, #facc15, #ffffff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shineText 3s linear infinite;
  }
  
  @keyframes shineText {
    0% {
      background-position: -200% center;
    }
    100% {
      background-position: 200% center;
    }
  }
  
  /* Animated border shine around image */
  @keyframes borderShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  
  .animate-border-shine {
    background-size: 400% 400%;
    animation: borderShine 5s linear infinite;
  }
  